---
import MainLayout from "../layout/main-layout.astro";


---
<MainLayout>
    <div class="Container">
        <img src="./images/Checking boxes-bro 1.svg" alt="404 ilustración">
        <h1>Ups!, pagina <br>no encontrada</h1>
        <p>Hola, regresa a la pagina anterior, ya que <br>la pagina que intentas buscar no se cuentra</p>
    </div>
</MainLayout>

<style>
    .Container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        height: 100vh;
    }
    img{
        max-width: 900px;
    }
    h1{
        text-align: center;
        margin-bottom: 0px;
    }
    p{
        text-align: center;
    }
</style>