---
import Circleload from  "./components/loading.astro";
---


<style>
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
</style>



<body>
    <Circleload />
</body>