---
import Devpage from "./devpage.astro";
import Head from "./head.astro";
import Sectionbenef from "./benefsection.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Medichest</title>
  </head>
  <body>
    <Head
      title="La forma más fácil de gestionar tus medicamentos"
      description="Asegúrate de tener siempre los medicamentos que necesitas en casa."
      imgSrc="/images/subject-womanhealt.svg"
      imgAlt="womanhealt.svg"
    />
	  <Sectionbenef />

  </body>
</html>
