---
const { text, iconSrc, href } = Astro.props;
---
<style>
  .Button {
    background-color: var(--primary-blue);
    color: var(--pure-white);
    font-family: var(--font-main);
    font-weight: 500;
    width: 104px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: 8px;
    padding: 10px 24px;
    text-align: center;
    border-radius: 24px;
    margin: 0;
    border: 0;
    text-decoration: none;
    cursor: pointer;
  }

  .Button img {
    height: 16px;
    width: 16px;
  }
  #buttonText{
    font-size: 16px;
  }
</style>

<a class="Button" href={href}>
  {iconSrc && <img src={iconSrc} alt="" />}
  <p id="buttonText">{text}</p>
</a>
