---
import Navbar from "../components/navbar.astro";

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />  
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Medichest</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>